.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center; 
}

.Blog li {
    display: inline-block;
    margin: 20px;
    font-weight: bold;
}

.Blog a {
    text-decoration: none;
    color: black;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active { /* '.Blog a.active' makes all links('a' means link in html/css) that use the active class to use this color */
    color: #fa933f;
}